$main-background: #cec2c2;
$button-background: #05c2d1;
$faded-background: rgba(255,255,255,0.4);

@import url('https://fonts.googleapis.com/css?family=Merriweather');


@mixin light-font {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

body {
  // background: $main-background;
  @include light-font;
}

h1 {
    font-weight: 100;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    text-align: center;
}

h3 {
    font-weight: 100;
    font-size: 20px;
    color: #5a5959;
    text-align: center;
}

.UserInputField{
  margin: 5px;
  font-size: 15px;
  height: 30px;
}
.button {
    padding: 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    background: $button-background;
    color: white;
    margin: 10px;
    width: 180px;

    @include light-font;
    &:hover {
      background: darken($button-background, 20);
      cursor: pointer;
    }
}

.submit-button{
  text-align: center;
  height: 50px;
  width: 100px;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('/images/snowy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -200px;
  width: 1200px;
  height: 250px;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

header{
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;
}

main{
  position: relative;
  padding-top: 250px;
  width: auto;
}



#input-fields{
  text-align: center;
}
.LikesCounter {
  height: 300px;
  width: 300px;
  margin: 78px auto;
  background: $faded-background;
}

.ActionButtons {
  width: 240px;
  margin: 100px auto 0 auto;
}

.alerts {
  font-size: 12px;
  color: red;
}
.current-weather{
  margin: 20px;
  padding: 10px;
  border: 2px solid teal;
}
.location{
  text-align: center;
  margin: 20px;
}

.single-day{
  border: 2px solid teal;
  margin: 15px;
}

.single-day:hover{
  cursor: pointer;
}

.day{
  border-bottom: 1px dashed purple;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
}

.details{
  margin: 5px;
  .daily-image{
    margin: 5px;
  }
  span{
    margin-left: 10px;
  }
}
