$main-background: #cec2c2;
$button-background: #05c2d1;
$faded-background: rgba(255,255,255,0.4);

@import url('https://fonts.googleapis.com/css?family=Merriweather');


@mixin light-font {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

@mixin headerFonts{
  font-size: 35px;
  border-bottom: 1px dashed purple;
  font-weight: bold;
  color: teal;
}

body {
  // background: $main-background;
  @include light-font;
}

h1 {
    font-weight: 100;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    text-align: center;
}

h3 {
    font-weight: 100;
    font-size: 20px;
    color: #5a5959;
    text-align: center;
}

.UserInputField{
  margin: 5px;
  font-size: 15px;
  height: 30px;
}

.button {
    padding: 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    background: $button-background;
    color: white;
    margin: 10px;
    width: 180px;

    @include light-font;
    &:hover {
      background: darken($button-background, 20);
      cursor: pointer;
    }
}

.submit-button{
  text-align: center;
  height: 50px;
  width: 100px;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('/snowy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -200px;
  width: 100%;
  height: 300px;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

header{
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;
}

main{
  position: relative;
  padding-top: 300px;
  width: auto;
}

#input-fields{
  text-align: center;
}

.invalid-input{
  text-align: center;
  color: lighten(red, 10%);
}

.ActionButtons {
  width: 240px;
  margin: 100px auto 0 auto;
}

.show-alert{
  text-align: center;
  color: red;
  font-size: 20px;
  border: 2px solid red;
}

.show-alert:hover{
  cursor: pointer;
}

.alerts {
  font-size: 12px;
  color: red;
}
.current-weather-header{
  text-align: left;
  @include headerFonts;
}
.current-weather{
  margin: 20px;
  padding: 5px;
  border: 2px solid teal;
  text-align: center;
}
.cur-weather{
  font-size: 20px;
}
.cur-temp{
  font-size: 25px;
  font-weight: bold;
  color: complement(teal);
}
.location{
  text-align: center;
  margin: 20px;
}
.single-day{
  border: 2px solid teal;
  margin: 15px;
}

.single-day:hover{
  cursor: pointer;
}

.day{
  padding: 5px;
  margin: 5px;
  @include headerFonts;
}

.details{
  margin: 5px;
  text-align: center;
  .daily-image{
    margin: 5px;
  }
  .daily-conditions{
    font-size: 25px;
  }
  span{
    margin-left: 10px;
  }
}

.all-hours{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.each-hour{
  border: 1px solid teal;
  width: 120px;
  padding: 5px;
  margin: 5px;
  .hour-label{
    padding: 10px;
    text-align: center;
    border-bottom: 1px teal solid;
  }
  .hourly-temp{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: complement(teal);
  }
  .hourly-pop{
    text-align: center;
    font-size: 13px;
    color: CornflowerBlue;
  }
}
