$main-background: #cec2c2;
$button-background: #982292;
$faded-background: rgba(255,255,255,0.4);

@mixin light-font {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body {
  background: $main-background;
  @include light-font;
}

h1 {
    font-weight: 100;
    font-size: 35px;
    text-align: center;
}

h3 {
    font-weight: 100;
    font-size: 20px;
    color: #5a5959;
    text-align: center;
}

button {
    padding: 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    background: $button-background;
    color: white;
    margin: 10px;
    width: 100px;
    @include light-font;
    &:hover {
      background: darken($button-background, 20);
      cursor: pointer;
    }
}

#input-fields{
  text-align: center;
}
.LikesCounter {
  height: 300px;
  width: 300px;
  margin: 78px auto;
  background: $faded-background;
}

.ActionButtons {
  width: 240px;
  margin: 100px auto 0 auto;
}

.single-day{
  border: 2px solid black;
  margin: 15px;
}

.day{
  border-bottom: 1px dashed purple;
  margin: 5px;
}

.details{
  text-align: center;
  margin: 5px;
}
